* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 2px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}