.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: var(--text-color);
  font-family: var(--main-font);
}

.header, .footer {
  min-height: 668px;
  height: var(--header-footer-height);
  display: grid;
  padding: 10px;
}

.decorated-zone {
  position: relative;
  border: 2px solid var(--accent-color);
}

/* Уголки через псевдоэлементы */
.decorated-zone::before, .decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-color: var(--accent-color);
  border-style: solid;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-width: 2px 2px 0 0;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-width: 0 0 2px 2px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

/* Галерея на гридах */
.gallery {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .section-type-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

@media (width >= 1024px) {
    .header__theme-menu-list {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}